@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: center;
  padding-top: 50px;
}

main {
  margin: 32px auto;
  width: 600px;
  padding: 15px;
  font-family: "Pretendard-Regular";
}

textarea {
  display: block;
  margin: 10px auto;
  width: 100%;
  border-radius: 12px;
  resize: vertical;
  padding: 12px;
  font-family: "Consolas", "Pretendard-Regular";
}

input {
  display: block;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  font-family: "Consolas";
}

.button-container {
  text-align: center;
  margin: 10px 0 0 0;
}

button {
  margin: 20px auto;
  padding: 12px 20px;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
  width: 200px;
  border-radius: 8px;
}

button:hover,
button:active {
  background-color: rgb(255, 186, 58);
}
